<h1>Welcome To Home</h1>
<form action="/" method="POST" >
    <input type="radio" name="behaviour" /> Behaviour <br />
    <input type="radio" name="performance" /> Performance <br />
    <input type="radio" name="innovation" /> Innovation <br />
    <input type="radio" name="improvement" /> Improvement <br />
    <input type="submit" />
</form>